#master{
	padding-top:72px;
	padding-left:350px;
}

#master ul{
	list-style:none;	
	clear:both;
}

#master ul li{
	float:left;
	width:150px;
	height:30px;
	padding:12px 0px;
	color:#333;
	font-size:16px;
}

#master ul li input{
	border:none;
	font-size:16px;
	background:#f3f3f4;
}