#role>div{
	padding-bottom:20px;	
}

#role ul{
	list-style:none;
	clear:both;	
}

#role ul li{
	float:left;
	width:150px;
	height:30px;
	padding:12px 0px;
	color:#333;
	font-size:16px;
}

#role ul:nth-of-type(1) li{
	font-weight:800;
}

#role ul li:nth-of-type(1){
	width:30px;	
}

#role ul li:nth-of-type(2){
	width:50px;	
}

#role ul li a{
	color:#333;
	width:70px;
	text-decoration:none;
}

#role ul li a:hover{
	color:#19aa8d;	
}

#role ul li.state1{
	color:#ff0000;
}

#role ul li a.state1{
	color:#ff0000;
}

#role ul li a.state1:hover{
	color:#19aa8d;
}

#role ul li.state2{
	color:#0000ff;
}

#role ul li a.state2{
	color:#0000ff;
}

#role ul li a.state2:hover{
	color:#19aa8d;
}