<include file="Public/left"/>
<include file="Public/header"/>
	
<link rel="stylesheet" href="{$Think.ADMIN_PUBLIC}/css/accountWhite.css?{:time()}">
<script src="{$Think.ADMIN_PUBLIC}/js/accountWhite.js?{:time()}"></script>

<div id="right">
	<form action="__SELF__" method="post">
		<p>
			<if condition="$tips eq 1">
				<span>该账号不存在</span>
			<elseif condition="$tips eq 2"/>
				<span>该账号未建立角色</span>
			<elseif condition="$tips eq 3"/>
				<span>添加成功</span>
			</if>	
		</p>
		<p>
			<label for="account">账　号</label>
			<input type="text" id="account" name="account" value=" ">	
		</p>
		<p>
			<input type="submit" id="submit" value="提　交">	
		</p>
	</form>	
</div>
	
<include file="Public/footer"/>