<include file="Public/left"/>
<include file="Public/header"/>
	
<link rel="stylesheet" href="{$Think.ADMIN_PUBLIC}/css/roleAdd.css?{:time()}">
<script src="{$Think.ADMIN_PUBLIC}/js/roleAdd.js?{:time()}"></script>

<div id="add" class="right">
	<form action="__SELF__" method="post">
		<p>
			<if condition="$tips eq 1">
				<span class="error">操作失败，角色名不可以为空</span>
			<elseif condition="$tips eq 2" />
				<span class="error">操作失败，该角色名已存在</span>
			</if>
		</p>
		<p>
			<label for="role_name">角 色 名</label>
			<input type="text" id="role_name" name="role_name">
			<span class="error"></span>
		</p>
		<fieldset>
			<legend>选择角色成员</legend>
			<ul>
				<volist name="managers" id="manager">
					<li>
						<if condition="$manager.mg_islock eq 1">
							<label class="error">
								<input type="checkbox" name="manager[]" value="{$manager.mg_id}">
								{$manager.mg_name}-{$manager.mg_true_name}-{$manager.role_name}
							</label>	
						<else />
							<label>
								<input type="checkbox" name="manager[]" value="{$manager.mg_id}">
								{$manager.mg_name}-{$manager.mg_true_name}-{$manager.role_name}
							</label>	
							
						</if>
					</li>
				</volist>
			</ul>
		</fieldset>	
		<fieldset>
			<legend>选择角色权限</legend>
			<volist name="all_power" id="power">
				<ul>
					<li>
						<label>
							<input type="checkbox" name="power[]" value="{$power.pow_id}">
							{$power.pow_name}
						</label>
					</li>
					<volist name="power['pow_child']" id="pow">
						<li>
							<label>
								<input type="checkbox" name="power[]" value="{$pow.pow_id}">
								{$pow.pow_name}
							</label>
						</li>
					</volist>
				</ul>	
			</volist>
		</fieldset>
		<fieldset>
			<legend>选择渠道权限</legend>
			<ul>
				<li>
					<label>
						<input type="checkbox">
						全部渠道
					</label>
				</li>
				<volist name="platforms" id="vo">
					<li>
						<if condition="$vo['checked'] eq 1">
							<label>
								<input type="checkbox" name="platforms[]" value="{$vo.platform}" checked="checked">
								{$vo.platform}	
							</label>
						<else />
							<label>
								<input type="checkbox" name="platforms[]" value="{$vo.platform}">
								{$vo.platform}	
							</label>
						</if>
					</li>
				</volist>
			</ul>
		</fieldset>
		<fieldset>
			<legend>是否可以修改版本号</legend>
			<label><input type="radio" name="version_edit" value="1"> 是</label>
			<label><input type="radio" name="version_edit" value="0" checked="checked"> 否</label>	
		</fieldset>
		<input type="submit" name="submit" id="submit" value="提　交">	
	</form>
</div>

<include file="Public/footer"/>